.listcontainer {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    padding-bottom: 20px;
}

.filtercontainer {
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 70%);
    padding-bottom: 15px;
}

.block-left {
    margin-right: auto;
    display: flex;
    justify-content: left;
    width: 480px;
}

.block-right {
    margin-left: auto;
    display: flex;
    justify-content: right;
    width: 120px;
}